<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>PINTO AI</title>

	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/script.js}" defer></script>
</head>

<body>

	<div class="container">
		<header>
			<h1>🤖 PINTO AI</h1>
			<p>Business Assistant</p>
		</header>

		<main>
			<div class="chat">
				<div th:each="message : ${messages}" th:class="${message.role == 'user'} ? 'question' : 'answer'">

					<h3 th:text="${message.role == 'user'} ? 'あなた' : 'PINTO AI'"></h3>

					<p th:text="${message.content}"></p>
				</div>
			</div>
			<form method="post">

				<input type="text" name="question" placeholder="メッセージを入力してください">

				<button type="submit">
					送信
				</button>
			</form>
		</main>
	</div>
</body>

</html>